﻿@{
    ViewBag.Title = "Busca de Alunos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="header">
    <div class="input-group input-group-lg">
        <span class="input-group-addon title" id="sizing-addon">Busca de Aluno</span>
        <input id="input_search" type="text" class="form-control" placeholder="Digite o RA do aluno" aria-describedby="sizing-addon">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="search()">Procurar</button>
            <button type="button" class="btn btn-default" aria-label="Histórico de Consultas" onclick="getSearchHistory()"><span class="glyphicon glyphicon-time"></span></button>
        </span>
    </div>
</div>

<!-- Modal History -->
<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="modalWindowLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Fechar</span>
                </button>
                <h4 class="modal-title" id="modalWindowLabel">
                    10 Últimas Pesquisas
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-default" aria-label="Exportar" onclick="exportHistory()"><span class="glyphicon glyphicon-floppy-save"></span></button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Error -->
<div class="modal fade" id="modalErrorWindow" tabindex="-1" role="dialog" aria-labelledby="modalErrorWindowLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Fechar</span>
                </button>
                <h4 class="modal-title" id="modalErrorWindowLabel">
                    Erro
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div id="map"></div>
<script src="~/Scripts/Site.js" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsrcj7OColofVBkQHQOJDL0_dIQxGjyjY&callback=initMap" async defer></script>