﻿@{
    ViewBag.Title = "Criar Aluno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Criar Novo Aluno</h3>
</div>
<form method="post" style="margin: 5% 0 0">
    <div class="float-left">
        <p>RA</p>
        <p>Nome</p>
        <p>Endereço</p>
        <p>Número</p>
        <p>Complemento</p>
        <p>Cidade</p>
        <p>Estado</p>
    </div>
    <div class="float-right">
        <input type="text" style="margin: 1px 0 2px" name="ra" /><br />
        <input type="text" style="margin: 1px 0 2px" name="name" /><br />
        <input type="text" style="margin: 1px 0 2px" name="street" /><br />
        <input type="text" style="margin: 1px 0 2px" name="number" /><br />
        <input type="text" style="margin: 1px 0 2px" name="complement" /><br />
        <input type="text" style="margin: 1px 0 2px" name="city" /><br />
        <input type="text" style="margin: 1px 0 2px" name="state" /><br />
        <input type="submit" value="Salvar" />
    </div>
</form>

<p>
    @if (ViewBag.Submitted)
    {
        @ViewBag.Message
    }
</p>