﻿@model IEnumerable<BuscaDeAlunos.Models.Student>

@{
    ViewBag.Title = "Alunos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Alunos</h3>
<p><a href="~/Student/Create">Criar novo aluno</a></p>

<table class="students-table">
    <tr>
        <th>RA</th>
        <th>Nome</th>
        <th>Ações</th>
    </tr>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var student in Model)
        {
            <tr>
                <td>@student.RA</td>
                <td>@student.Name</td>
                <td>
                    <a href="~/Student/Update/@student.RA">Atualizar</a>
                    <a href="~/Student/Delete/@student.RA">Remover</a>
                </td>
            </tr>
        }
    }
</table>