﻿@model BuscaDeAlunos.Models.Student

@{
    ViewBag.Title = "Atualizar Aluno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Atualizar Aluno</h3>
</div>
<form method="post" style="margin: 5% 0 0">
    <div class="float-left">
        <p>RA</p>
        <p>Nome</p>
        <p>Endereço</p>
        <p>Número</p>
        <p>Complemento</p>
        <p>Cidade</p>
        <p>Estado</p>
    </div>
    <div class="float-right">
        <input type="text" style="margin: 1px 0 2px" name="ra" value="@Model.RA" disabled="disabled" /><br />
        <input type="text" style="margin: 1px 0 2px" name="name" value="@Model.Name" /><br />
        <input type="text" style="margin: 1px 0 2px" name="street" value="@Model.Address.Street" /><br />
        <input type="text" style="margin: 1px 0 2px" name="number" value="@Model.Address.Number" /><br />
        <input type="text" style="margin: 1px 0 2px" name="complement" value="@Model.Address.Complement" /><br />
        <input type="text" style="margin: 1px 0 2px" name="city" value="@Model.Address.City" /><br />
        <input type="text" style="margin: 1px 0 2px" name="state" value="@Model.Address.State" /><br />
        <input type="submit" value="Salvar" />
    </div>
</form>

<p>
    @if (ViewBag.Submitted != null && ViewBag.Submitted)
    {
        @ViewBag.Message
    }
</p>