﻿html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    position: absolute;
    width: 80%;
    top: 10%;
    margin-left: 10%;
    z-index:2;
}

#map {
    height: 100%;
}

.input-group-addon.title {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}